.logo {
	margin-left: 1%;
}

html {
	background-color: #00CC66; 
}

body {
  height: 100%;
  background: inherit;
  color: #ffffff;
  font: 300 16px/22px "Roboto", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

nav {
	display: block;
}

#poll-box {	
	margin-top: 5%;
	padding: 20px 20px 10px 10px;
}

.box-title {
	font-style: bold;
}

.btn-proceed {
	color: #000000;
}

.results {
	margin: 1% 1%;
}

.list-group {
	color: #000000;
}

.button {
	color: black;
}